node_modules
npm-debug.log
.DS_Store
.npmrc
.tmp
.env
.nyc_output
coverage/
.npmrc
dist
*.log
publish-payload.json
save-theme-payload.json
message-payload.json
.stats
output/
perf/trace.json

# editor config
.idea
