.complex {
  border-radius: 1rem;
  border: 0.2rem solid black;
  margin: 0.3rem;
}

.ql-toolbar .ql-footer:before {
  content: 'footer';
}

.variable .variable:before {
  content: 'variable';
}

.mention {
  background-color: #ce381e;
}

.ql-mention-list-item {
  background-color: #b96e6e;
}

.ql-mention-list-item.selected {
  background-color: #de8484;
}